* {
  box-sizing: border-box;
}

input[type=text]{
    width: 100%;
    border: none;
    padding: 5px 20px;
    margin: 2px 0px;

}

input[type=email]{
    width: 100%;
    border: none;
    padding: 5px 20px;
    margin: 2px 0px;
}

input[type=password]{
    width: 100%;
    border: none;
    padding: 5px 20px;
    margin: 2px 0px;
}

button[type=submit]{
    display: inline-block;
    width: 100%;
    border: none;
    padding: 20px 20px;
    margin: 2px 0px;
    background-color: #FF9800;
    color: white;
    font-family: Georgia,"Times New Roman";
    font-size: 120%;
}

button[type=submit]:hover{
    background-color: #FF9800;
}

button {
    transition: transform .2s;
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

#facebook{
    width: 100%;
    border: none;
    padding: 17px 20px;
    margin: 15px 0px;
    background-color:#3B5998;
    color: white;
    font-family: Georgia,"Times New Roman";
    font-size: 120%;
}

#twitter{
    width: 100%;
    border: none;
    padding: 17px 20px;
    margin: 15px 0px;
    background-color:#1DA1F2;
    color: white;
    font-family: Georgia,"Times New Roman";
    font-size: 120%;
}

#google{
    width: 100%;
    border: none;
    padding: 17px 20px;
    margin: 15px 0px;
   /* background-color:#DB3236;*/
    background-color:#DC3030;
    color: white;
    font-family: Georgia,"Times New Roman";
    font-size: 120%;
}

.image{
    width: 30px;
    height:30px;
}
.center_div{
    margin: 0 auto;
    width:80% /* value of your choice which suits your alignment */
}
html, body { height:100%; }
/*.btn{
    display:table;
    margin:0 auto;
}*/

body {
    background: url(../images/img.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
}

p{
    font-weight: normal;
    font-size: 120%;
    color: grey;
    text-align: center;
}

h1{
    font-weight: bold;
    text-shadow: 2px 2px 4px grey;
    font-size: 50px;
}

.border{
    text-align: left;
    border:1px solid grey;
    border-style: groove;
    height:auto;
    box-shadow: 5px 5px 10px 8px #888888;
    font-weight: bold;
    background-color: white;
}
@media (min-width: 1200px) {
    .container{
        max-width: 750px;
    }
}
.container{
    margin-bottom: 50px;
    /*margin-top: 100px;*/
}
.btn{
    white-space:normal;
}
.img{
    margin-left: auto;
}
br + p{
    color: black;
    font-weight: bold;
    font-size: 150%;
    text-align: left;
}
#forgot{
    color:grey;
    font-size:90%;
    text-align: left;
}

li a{
    color: #FF9800;
}

li a:hover {
    color: #FFCC80;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #FF9800;
  margin: auto;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}

textarea{
    width: 100%;
}
/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}