.background{
    display: flex; 
    justify-content: center; 
    background-image: url("spiderweb.jpg");
    height: 100vh;
    width: 100%;
    background: cover;
    background-size:100%;
    



}
#formBox{
    height: 50vh;
    width: 50%;
    border: 2px solid #000;
    background: rgba(224, 215, 215, 0.3);
    text-align: center;
    justify-content: center;



}

#form{
    display: inline-flex;
    text-align: center;
}
#header{
    text-align: center;
    display: flex;
}
