.background{
    /* display: flex;
    justify-content: center; */
    background-image: url("spiderweb.jpg");
    height: 100vh;
    width: 100%;
    background: cover;
    background-size:100%;


}
#formBox{
    background: rgba(0,0,0,.3);
    box-shadow: 0 0 10px black;
    height: 75vh;
    width: 75%
}
#form{
    display: inline-flex;
    text-align: center;
}
#header{
    text-align: center;
    display: flex;
}
