.container{
    display: flex;
    justify-content: center;
    background-image: url("spiderweb.jpg");
    height: 1024px;
    width: 100%;

}
#form{
    display: inline-flex;
    text-align: center;
}
#header{
    text-align: center;
    display: flex;
}
